<div class="auth-layout">
  <div class="auth-layout__form-area">
    <div class="auth-layout__content">
      <div class="auth-layout__logo-mobile">
        <img src="/assets/branding/logo-sinfondo-contexto.png" alt="Wiego Logo" />
      </div>
      
      <router-outlet></router-outlet>
      
    </div>
  </div>
  
  <div class="auth-layout__visual-area">
    <div class="auth-layout__visual-content">
      <img src="/assets/branding/logo-sinfondo.png" alt="Wiego" class="auth-layout__logo" />
      <h2 class="auth-layout__tagline">
        Automatiza tu nómina y mueve cientos de pagos con una sola operación.
      </h2>
    </div>
  </div>
</div>
